<h1>Админка</h1>

  <ul>
    <li><%= link_to 'Управлять пользователями(скоро)' %></li>
    <li><%= link_to 'Управлять статическими статьями', admin_articles_path %></li>
    <li><%= link_to 'Управлять записями блога', admin_posts_path %></li>
  </ul>