<p>Здравствуйте, <%= @resource.email %>!</p>

<p>Кто то затребовал смены пароля для вашего аккаунта на сайте <%= t(:sitename) %>, чтобы это сделать пройдите по ссылке ниже:</p>

<p><%= link_to 'Изменить пароль', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Если вы этого не просили, игнорируйте это сообщение.</p>
<p>Ваш пароль не измениться, пока вы не пройдете по ссылке выше</p>
