<p>Здравствуйте <%= @resource.email %>!</p>

<p>Ваш аккаунт был заблокирован после череды неудачных попыток входа.</p>

<p>Пройдите по ссылке ниже, чтобы разблокировать егоЖ</p>

<p><%= link_to 'Разблокировать мой аккаунт.', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
